# Virtual environments

venv/
.venv/
.venv1/

# Python cache

**pycache**/
*.pyc

# Pytest

.pytest_cache/

# Playwright results

test-results/
playwright-report/
trace.zip

# Reports

report.html

# IDE

.idea/
.vscode/

# OS files

.DS_Store
